.wrapper {
  @apply inline-flex flex-col items-center antialiased;
}

.icon-title {
  @apply text-sm;
}

.padded-container {
  @apply p-2 md:p-4;
}

.container {
  @apply w-2/3 p-4;
}

.carousel-container {
  height: 400px;
  width: 700px;
}

.carousel-container img {
  @apply object-fill w-full;
}

.bg-dark {
  @apply bg-ink-400;
}

.expandable-container {
  width: 440px;
}

.input-container {
  @apply w-4/12;
}

.select-container {
  width: 300px;
  height: 40px;
}
