@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  input[type='number'].hide-input-spinners::-webkit-inner-spin-button,
  input[type='number'].hide-input-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    opacity: 0;
  }
}
